#simple-contactform-container {
    position: relative;
    width: 50%;
    margin: 5% auto;
    & * {
        margin: 10px 2px;
    }
    input[type="text"] {
        height: 35px;
        width: 300px;
    }
    label {
        font-weight: bold;
    }
}

.simple-contactform-preview-button {
    float: right;
}